body
{
background-image:url('Background2.jpg');
background-attachment: fixed;
}
form {
    display: inline;
}

#header{
	height: 50px;
	border-radius: 10px;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

topImage{
	position: absolute;
	left: 40%;
	top: 1.4%;
}

button {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #900;
  
}

#menu{
	float: left;
	border-radius: 10px;
	width: 15%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#content{
	font-family: 'Times New Roman';
	float: left;
	border-radius: 10px;
	width: 53.3%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left:0.5%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#frontpage{
	font-family: 'Times New Roman';
	float: left;
	border-radius: 10px;
	width: 20%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left:0.5%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#order{
	border-radius: 10px;
	width: 54%;
	background-color: #FFE9E5;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 0.5%;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#product{
	border-radius: 5px;
	width: 97%;
	background-color: #FFE9E5;
	margin-bottom: 10px;
	margin-left: 0.5%;
	margin-right: 20.5%;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#comment{
	border-radius: 5px;
	width: 97%;
	background-color: #FFE9E5;
	margin-bottom: 5px;
	margin-left: 0.5%;
	margin-right: 20.5%;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#productpicture{
	padding-left: 50%;
}
#fb{
	position: absolute;
	left: 45%;
	bottom: 0px;
}
#user{
	border-radius: 10px;
	background-color: #FFE9E5;
	margin-bottom: 10px;
	margin-left: 0.5%;
	margin-right: 20.5%;
	margin-top: 10px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

s{
	position: absolute;
	margin-left: 0.5%;
	text-align: left;
	margin-bottom: 10px;
	padding-top: 40px;
	
}


t0{
	font-size:250%;
	padding-top: 10px;
}
t1{
	font-size:150%;
	padding-top: 10px;
}
t2{
	font-size:125%;
	padding-top: 10px;
	
}

t2I{
	font-size:100%;
	padding-left: 20px;
}
t3{
	font-size:80%;
}

topMenu{  
	position: absolute;
	margin-left: 60%; 
	text-align: center;
}

search{
	position: absolute;
	margin-top: 3%;
	margin-left: 0.5%; 
	text-align: center;
}

:required {
  border-color: #FF2400;
  text-align: left;
  
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);*/
}

label {
	width : 150px;
	text-align : right;
	float : left;
	margin-right : 5px;
}

shortlabel {
	text-align : right;
	float : left;
	margin-right : 5px;
}

