body
{
background-image:url('Background1.jpg');
background-color: #000000;
}


#header{
	height: 150px;
	border-radius: 10px;
	background-color: #ffffff;
	background-image:url('Geeksforsale.jpg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

#menu{
	float: left;
	height: 2000px;
	border-radius: 10px;
	width: 15%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
}

#content{
	float: left;
	border-radius: 10px;
	width: 54%;
	background-color: #ffffff;
	opacity: .8;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	text-indent: 10px;
}



s{
	position: absolute;
	margin-top: 5px;
	text-indent: 10px;
	margin-left: 0.5%;
	text-align: left;
}
left{  
	text-align: left;
	text-indent: 10px;
	height: 50px;
	width: 15%;
	background-color: #666;
}

topMenu{  
	position: absolute;
	margin-left: 60%;
	margin-top: 33px;
	text-align: center;
	
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}