body
{
background-image:url('Background2.jpg');
background-attachment: fixed;
}


#header{
	height: 150px;
	border-radius: 10px;
	background-color: #ffffff;
	background-image:url('Geeksforsale.jpg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
	text-indent: 10px;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

button {
  color: #000000;
  background: #FF2400;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #900;
  
}

form{
  color: #000000;
  background: #FF2400;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #900;
}

#menu{
	float: left;
	border-radius: 10px;
	width: 15%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#content{
	font-family: 'Comic Sans MS';
	float: left;
	border-radius: 10px;
	width: 53.3%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left:0.5%;
	text-indent: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:1px;
	border-color: #FF2400;
}

#order{
	border-radius: 10px;
	width: 54%;
	background-color: #FFEEFF;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 0.5%;
	text-indent: 10px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#product{
	border-radius: 10px;
	background-color: #FFAAFF;
	margin-bottom: 10px;
	margin-left: 0.5%;
	margin-right: 20.5%;
	text-indent: 10px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#user{
	border-radius: 10px;
	background-color: #FFE9E5;
	margin-bottom: 10px;
	margin-left: 0.5%;
	margin-right: 20.5%;
	margin-top: 10px;
	text-indent: 10px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

s{
	position: absolute;
	margin-left: 0.5%;
	text-align: left;
	text-indent: 10px;
	margin-bottom: 10px;
	padding-top: 40px;
	
}

t0{
	font-size:250%;
	padding-top: 10px;
}
t1{
	font-size:150%;
	padding-top: 10px;
}
t2{
	font-size:125%;
	padding-top: 10px;
	
}

t2I{
	font-size:100%;
	padding-left: 20px;
}
t3{
	font-size:80%;
}

topMenu{  
	position: absolute;
	margin-left: 60%; 
	margin-top: 2%; 
	text-indent: 10px;
	text-align: center;
	padding-left: 20px;
	padding-top: 60px;
}

search{
	position: absolute;
	margin-left: 0.5%; 
	margin-top: 6%; 
	text-align: center;
	padding-top: 60px;
}

:required {
  border-color: #FF2400;
  text-indent: 10px;
  text-align: left;
  
  /*-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);*/
}