body
{
background-color: #D0CBCA;
}

#header{
	height: 150px;
	border-radius: 15px;
	background-color: #F3F2F1;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
}

#menu{
	height: 2000px;
	border-radius: 15px;
	width: 15%;
	background-color: #F3F2F1;
	margin-bottom: 10px;
	margin-left: 15%;
}

h1{  
	text-align: center;
	color: #000000;
	
}
s{
	position: absolute;
	margin-top: 55px;
	margin-left: 0.5%;
	text-align: left;
}

left{  
	height: 50px;
	width: 15%;
	background-color: #666;
}