body
{
background-image:url('Background2.jpg');
background-attachment: fixed;
background-position: right bottom;
background-repeat: repeat;
background-color: #000000;
}


#header{
	height: 150px;
	border-radius: 10px;
	background-color: #ffffff;
	background-image:url('Geeksforsale.jpg');
	background-repeat: no-repeat;
	background-position: center;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	margin-right: 15%;
	text-indent: 10px;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style:solid;
	border-width:5px;
}

#menu{
	float: left;
	height: 2000px;
	border-radius: 10px;
	width: 15%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 15%;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#content{
	float: left;
	border-radius: 10px;
	width: 54%;
	background-color: #ffffff;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 0.5%;
	text-indent: 10px;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

#order{
	border-radius: 10px;
	width: 54%;
	background-color: #FFEEFF;
	opacity: .8;
	margin-bottom: 10px;
	margin-left: 0.5%;
	text-indent: 10px;
	padding-left: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}


s{
	position: absolute;
	margin-left: 0.5%;
	text-align: left;
	text-indent: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}
left{  
	text-align: left;
	height: 50px;
	width: 15%;
	background-color: #666;
	text-indent: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

topMenu{  
	position: absolute;
	margin-left: 60%; 
	text-indent: 10px;
	text-align: center;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
}

:required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}